

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#map {
    margin-top: 20px;
    width: 100%;
    height: 500px;
}














